.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.nav-item:hover {
    font-size:20px;
}


.myTitle {
    padding-left: 650px;
    padding-top: 50px;
}


.myList {
    list-style: none;
}




@media(max-width: 768px) {

    #myCarousel {
        width: 50%;
        font-size: 14px;
        text-align: center;
        background: 600px;
    }

    #shop {
        
        font-size: 14px;
        margin-right: 20px;
      
     
    }
    #shop p{
       
        margin-left: 40px;
        padding:5px;
        padding-top:15px;
        margin-bottom:-20px;
     
    }


  





    #about {
        padding: 10px;
        width: 100%;
        margin-left: 0px;
    }

    #about .card-body {
        padding: 10px;
        width: 100%;
        margin-left: -20px;
        text-align:center;
        font-size:14px;
    }

    .myCardimg {
        width: 250px;
        height:200px;
        margin: 10px;
        float:right;
       
    }

}